/*--- Typography ----*/
/*
1rem: 	16px;
1.5rem:	24px;
2rem: 	32px;
3rem: 	48px;
4rem: 	64px;
5rem:	80px;
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
    font-size: 16px;
    font-family: var(--font-default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    background-color: var(--white);
    color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn,
.btn:link,
.btn:active,
.btn:visited,
.button,
input [type="submit"],
button,
.nav > li > a {
    font-weight: 900;
    text-transform: uppercase;
}

/*--- Global---*/

header,
footer,
section,
main {
    width: 100%;
}

a,
a:link,
a:visited,
a:active,
a:focus {
    color: var(--brand-red);
    text-decoration: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    line-height: 1;
    margin: auto;
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-bottom: 1rem;
}

h1,
.h1 {
    font-size: 3rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.5rem;
}

h4,
.h4 {
    font-size: 1.25rem;
}

h5,
.h5 {
    font-size: 1rem;
}

h6,
.h6 {
    font-size: .7rem;
}

p {
    line-height: 1.6;
    margin: 15px 0 30px;
}

hr {
    margin: 80px 0;
}

blockquote {}

ul {
    padding: 1rem 0;
    text-align: left;
    list-style: none;
}

ul li {
    padding: 5px 0 5px 20px;
    position: relative;
}

ul li:before {
    content: '\2726';
    position: absolute;
    left: 0;
}

ul.nav li:before,
#sidebar1 ul li:before,
.wp-block-blockgallery-masonry ul li:before {
    display: none;
    content: '';
    margin-right: 0;
}

ul.columns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

ol {
    padding-left: 17px;
    margin: 20px 0;
}

ol li {
    padding: 7px 0;
    position: relative;
}

img {
    display: block;
}

article {
    padding: 40px 0;
    border-bottom: 1px solid #efefef;
    margin-bottom: 40px;
}

table {
    width: 100%;
}

table td {
    padding: 10px;
}

table img {
    width: 100%;
    height: auto;
}

.btn,
.btn:active,
.btn:visited,
.button,
input[type="submit"],
button,
.page-numbers,
.wp-block-button__link {
    font-size: 1rem;
    line-height: 1;
    padding: 20px 40px;
    margin: 30px auto;
    color: #ffffff;
    outline: none;
    display: inline-block;
    border-radius: 3px;
    border-color: transparent;
    background-color: #0C66A8;
}

.btn:hover,
.button:hover,
input[type="submit"]:hover,
.btn:active,
.button:active,
input[type="submit"]:active,
button:hover,
button:active,
.page-numbers:hover,
.page-numbers:active,
.page-numbers.current,
.wp-block-button__link:hover,
.wp-block-button__link:active {
    color: #fff;
    background-color: #8BB6D8;
}

a,
button,
input[type="reset"],
input[type="submit"],
input[type="button"],
a img,
a svg,
.btn,
.hover-overlay,
a .icon,
.hover-container .btn,
.nav li.menu-item-has-children ul,
.nav li.menu-item-has-children ul li.menu-item-has-children ul,
.page-numbers,
.wp-block-button__link {
    transition: all 0.5s ease;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-responsive,
.img-responsive img {
    width: 100%;
    height: auto;
}

.clear {
    clear: both;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

.no-padding {
    padding: 0;
}

section {
    padding: 50px 0;
}

section h2:first-child {
    margin-top: 0;
}

section#page {
    padding: 0;
}

.section-top {
    padding-top: 50px;
}

.section-bottom {
    padding-bottom: 50px;
}

.bg-white {
    background-color: #fff;
}

.bg-gray {
    background-color: #efefef;
}

.full-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}

.parallax {
    background-attachment: fixed;
}

img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}

img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.txt-center {
    text-align: center;
}

.stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}

.stars::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aiosrs-rating-wrap {
    display: none;
}

/* used on anti-spam form */
#theForm,
.gform_validation_container {
    position: absolute;
    top: 0;
    left: -99999px;
}

.cookies {
    position: relative;
    z-index: 99;
}

.cookies .wrapper {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    padding: 15px;
    border-radius: 5px 0 0 0;
}

.cookies .wrapper p {
    margin-bottom: 0;
}

.cookies .wrapper svg {
    fill: #ffffff;
    max-width: 15px;
    margin-left: 5px;
}

.cookies .wrapper a {
    color: #ffffff;
}

.cookies .wrapper a:hover {
    color: rgba(12, 102, 168, 0.5);
}